@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

@keyframes fadeIn {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.wrapper {
  @include flexbox.flexbox;
  position: fixed;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: colors.$GRAYA;
  animation: fadeIn 2000ms forwards;

  div {
    animation: rotate 500ms linear infinite;
  }
}
