// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$BIG_TITLE: #1f315b;
$TASKS_TITLE: #8f99bf;
$TASK_ITEM_TITLE: #4f566f;

// LNB
$BG_G: #f6f7f8;
$PRIMARY: #586df5;
$SECONDARY_01: #e5f4fd;
$SECONDARY_02: #ea3a4b;
$GREY_50: #edeff1;
$GREY_300: #94a2ad;
$GREY_800: #3a474e;
$GREY_100: #d1d8dc;

// SHADOW
$CARD_BOX_SHADOW: 0 4px 10px rgba(0, 0, 0, 4%);
$DROP_DOWN_SHADOW: 0 10px 20px rgba(41, 50, 55, 15%);

$HOVER: #f5f5f5;
